<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; flex-direction: column;">
        <div>
            <ul style="display: flex; justify-content: space-around; padding: 10px; background: #000; color: antiquewhite; font-size: large; font-weight: bold; font-family: 'Courier New', Courier, monospace;">
                <li style="padding-left: 10px;"><a href="/">home</a></li>
                <li style="padding-left: 10px;"><a href="/auth/login">login</a></li>
                <li style="padding-left: 10px;"><a href="/auth/logout">logout</a></li>
            </ul>
        </div>
        <div>
            <h1>Profile</h1>

            <h2><%=user.username %></h2>
        </div>
    </div>
</body>
</html>